:root {
  --branding-green: rgb(24, 100, 89);
  --branding-lightgreen: rgb(30, 122, 109);
  --warm-color-yellow: #e8f380;
  --warm-color-orange: #ccaa79ff; 
}

#melvin  header {
  background-color: white;
}
#melvin  header .row {
  justify-content: space-between;
  background-color: white;
}

.main_h {
  position: fixed;
  top: 0px;
  max-height: 110px;
  z-index: 999;
  width: 100%;
  padding: 17px 60px 6px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 230px;
  height: 80px;
  font-size: 25px;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
}

#melvin nav {
  float: right;
  width: 60%;
  background-color: white;
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
nav ul a {
  color: var(--branding-green);
  text-transform: uppercase;
  font-size: 15px;
}
.anchor-target:before {
    content: "";
    display: block;
    height: 60px; /* Height of your header */
    margin-top: -60px; /* Negative height of your header */
}
#melvin .hero .warm-color {
  color: var(--warm-color-orange)
}
#melvin .about {
  padding: 0 60px 60px;
  background-color: black;
}
#melvin .about h1:nth-child(3)  {
  border: 3px solid yellow;
  margin-top: 10px
}
#melvin .about h2 {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
#melvin .about p {
  color: white;
}
#melvin .about h1 {
  color: var(--branding-lightgreen);
  font-size: 50px;
  margin-top: 10px;
}
#melvin .services {
  padding: 0 60px 60px;
  background-color: var(--branding-green);
} 
#melvin .services h1,
#melvin .services h2 {
  font-size: 40px;
  text-transform: lowercase;
}

#melvin .projects {
  padding: 60px;
}
#melvin .projects .row div {
  border: 1px solid green;
  height: 200px;
}

#melvin .services p {
  color: white;
}
#melvin .services h1,
#melvin .services h2,
#melvin .services p {
  color: white;
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

#melvin .row {
  width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}

#melvin a {
  text-decoration: none;
}

#melvin h1 {
  font-size: 30px;
  line-height: 1.8;
  color: var(--branding-green);
  font-family: "Montserrat", sans-serif;
}

#melvin p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.hero {
  position: relative;
  background: url(./images/work.jpg) no-repeat center center fixed;
  background-size: auto;
  text-align: center;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 35px;
  color: white;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}


@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
  
  #melvin nav { 
    width: 100%;
  }
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
  
  .mobile-toggle {
    display: block;
  }
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
  .second-header {
    display: none !important;
  }
}