:root {
  --brand-gold: #ccaa79ff;
  --brand-green: #355041 ;
}

body#app {
  font-family: Lato;
}

body#app p, body#app ul li {
  font-size: 16px;
}

#header, #footer {
    background: var(--brand-green) 
}
#footer {
    margin-top: 40px;
    padding: 60px;
}

#footer p,  #footer h2, #footer a {
    color: #ccaa79ff
}
#header {
    padding: 2px 50px 50px 50px;
    margin: 0;
}
.container-fluid {
    padding: 0
}
#header .navbar {
    margin: 0;
    margin-top: 10px;
}

p.multimedia i {
    font-size: 24px;
}
p.multimedia i:first-child {
    margin-right: 20px; 
}
ul.navbar-nav {
    margin-top: 30px;
}
.navbar-nav li a {
    color: var(--brand-gold);
    margin-right: 20px;
} 
.navbar-nav li a:hover {
    color: wheat;
    text-decoration: none;
} 

{/* SALES PAGE */}

#sales .row {
    margin-bottom: 30px;
}

#sales .sales-piece {
    border: 1px solid gray;
    width: 266px;
    margin-right: 80px;
    padding: 7px 7px 20px;
}
#sales .main-info {
    background-color: rgb(204, 170, 121);
    padding: 5px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

.info div a:first-child button {
    margin-right: 10px;
}
#sales .main-info p {
    margin-bottom: 5px;
}
#sales .sub-info {
    padding-left: 20px;
    text-align: left;
}
#sales .sub-info p {
    margin: 0;
}
#sales .sub-info button {
    padding: 4px 20px;
    background-color: rgb(204, 170, 121);
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 40px;
}
h1 {
    font-weight: 600;
    font-size: 30px;
    color: var(--brand-gold);
    margin: 30px 0 30px;
}
#sales .row {
    display: flex;
    justify-content: center; 
}
#sales .contact h3 {
    font-weight: 600;
    margin-top: 10px;
}

#sales .phone, #sales .email, #sales .whatsapp {
    border-radius: 40px;
    padding: 4px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    color: white;
} 
#sales .whatsapp {
    background-color: #37ca37;
} 
#sales .whatsapp a {
    background-color: transparent;
}
#sales .email {
    background-color: black;
}
#sales .phone {
    background-color: #355041;
}
#sales .phone a {
    color: white;
}
#sales .phone a {
    text-decoration: none;
}
#sales .price {
    background-color: rgb(246, 235, 231);
    font-size: 32px;
    font-weight: 400;
    color: black;
    padding: 10px;
    border-radius: 50px;
}
#sales #heading h1 {
    font-size: 30px;
    margin-top: 20px;
}
#sales #heading h5 {
    font-size: 18px;
    margin: 5px 0 10px;
}
#sales #heading h1, #sales #heading h5 {
    color: #ccaa79ff;
}

#sales li.areas-header {
    font-weight: bolder;
    margin: 10px 0;
    list-style: none;
}

.sales-img {
    width: 100%;
    height: 500px;
    background-position: 30px -340px;
    background-size: cover;
}
.top-section img {
    width: 100%;
}
.block {
  padding: 20px;
}
.block1 {
  color: white;
  background-color: #002349
}
.block2 {
  background-color: #355041;
}


#video {
     position: relative;
}

#video .info {
    position: absolute; 
    left: 50%; 
    bottom: 111px; 
    background-color: rgba(34, 139, 34, 0.5); ;
    padding: 40px;
}

#video .info div {
    display: flex;
}
#video .info h1 {
    color: white;
}
#video .info button {
    padding: 10px;
    font-size: large;
}
#ron-image {
  background: url("./images/ron.png") no-repeat center center / cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 0 auto;
}

/* CAROUSEL ICONS */
.fa-solid {
    color: #ccaa79ff;
    margin-right: 5px;
}
.icons {
	font-size: 18px;
  	margin: 0 0 20px 20px;
  	font-family: Roboto, Helvetica, sans-serif;
}
.icons span {
	margin-right: 30px;
  }
 .icons p {
  	min-width: 160px;
    display: inline-block;
 }
  
#bulletList-XPz00bHMGh ul {
	list-style-type: disc;  
}
#bulletList-XPz00bHMGh ul li::marker {
  color: #ccaa79ff;
}

.parallax {
  background-image: url("XXX.jpg");
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header {
    text-transform: uppercase;
    text-align: center;
}
#language {
    position: absolute;
    top: -70px;
    left: 10%;
}
.block2 {
    padding: 20px 60px;
    margin-bottom: 60px;
}
.block2 h1 {
    font-weight: 600;
    margin-bottom: 20px;
}
.block2 div {
    background-color: white;
    text-align: center;
    padding: 20px;
}
.block2 div:first-child {
    margin-right: 20px;
    width: 47%;
}
.block3 h1 {
    font-weight: 600;
    font-size: 35px;
    margin: 20px 0;
}
.text-foreground {
    color: hsl(var(--foreground));
}
p.font-body  {
    margin-bottom: 0;
}
button.buttonstyle {
    background-color: #ccaa79ff;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: 0
}

/* CAROUSEL */
#myCarousel {
    margin-bottom: 40px;
}

#Carousel button, #Carousel button {
    transition: all 1s ease;
}

#myCarousel button:hover, #myCarousel button:hover {
    background-color: #eee;
}

#Carousel img {
    width: 300px;
    height: 300px;
}

.fa-solid {
    color: #ccaa79ff;
    margin: 10px 10px 0 0;
}

.slide-container .name {
    margin-bottom: 10px;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
}
#contact {
    background-color: #f6f4f3;
    margin: 0;
    max-width: 100%;
    padding: 0;
}
#contact .livingroom {
    width: 100%;
    height: 444px;
    background: url("./images/living-room02.png") no-repeat center center / cover;
}
#contact .livingroom h1 {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50px;
    padding-top: 22px;
    margin-top: 0;
}
#contact .livingroom h2 {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 35px;
    padding-top: 22px;
}
#contact form {
    border: 1px solid white;
    padding: 50px;
    width: 90%;
    margin: 0 auto;
}
#contact label {
    font-size: 14px;
}
#contact button {
    font-size: 18px;
}
#contact .whatsapp {
    border: 1px solid #25d3664d;
    padding: 20px;
    border-radius: 10px;
    border-width: 2px;
    background-color: #25d3660d;
    margin-top: 50px;
}

.gap-4 {
    gap: 1rem;
}
.items-start {
    align-items: flex-start;
    margin-top: 20px;
}

.phone-email-loc {
    display: flex;
    background-color: green;
    border-radius: 50px;
    padding: 10px;
}
.phone-email-loc svg {
    color: white;
}
.phone a , .email a, .map a {
    text-decoration: none;
    color: black;
}
.flex {
    display: flex;
}
.w-icon-wrapper {
    background-color: rgb(37 211 102);
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}
a.w-link {
    background-color: rgb(37 211 102);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}
a.w-link svg {
    margin-right: 10px;
}
.w-inner {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
.card-content h6.type {
    font-size: 20px;
}

.location {
    font-size: 16px;
    font-weight: 600;
}

.price {
    font-size: 14px;
}

ul.description2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.description2 li {
    font-size: 12px;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid #ccaa79;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-content {
    align-items: normal;
    padding-left: 60px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.card-image {
    position: relative;
    height: 300px;
    width: 300px;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid #ccaa79;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.card-content .button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #ccaa79ff;
    border-radius: 6px;
    margin: 30px 14px 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-content .button:hover {
    background: #e6d7c1 !important;
}

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before, .swiper-navBtn::after {
    font-size: 38px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
    background-color: #ccaa79;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: #e6d7c1 !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-weight: 600 !important;
    font-size: 20px !important;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

.swiper {
    padding-bottom: 30px !important;
}

#social-icons-0tq4jhGw2Sd .social-media-icon {
    background-color: #ccaa79;
}

.swiper-pagination-bullet-active {
    background-color: #ccaa79ff !important;
}

#row-R1mOCMUprw {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

/* HEADER MENU */
nav{
  position: relative;
  z-index: 99;
  width: 100%;
  height: 116px;
  background: var(--brand-green);
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: var(--brand-gold);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  color: gold;
}

.nav-links li a.glink {
    display: inline;
    padding: 0 10px 0 18px;
}
.nav-links .mobile-item{
  display: none;
}

.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

/* HEADER MENU END */

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
    /* collapse columns */
  .row {
    flex-direction: column;
  }
  #contact .livingroom h1 {
    font-size: 35px;
  }
    #contact .livingroom h2 {
        font-size: 25px;
  }
  #contact .row {
    padding: 0 20px;
  }
    .icons {
        font-size: 22px;
    }
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }

    ul.description2 li {
        font-size: 22px;
    }

    .card-content .button {
        font-size: 24px;
    }

    .slide-container .name {
        font-size: 24px;
    }

    .hl_page-preview--content .row-R1mOCMUprw {
        border-width: 0;
    }

    
    .card-body img {
        width: 100%;
    }
    ul.description2 li {
        font-size: 18px;
    }
    .type {
        font-size: 14px;
    }

    .location {
        font-size: 20px;
    }

    .price {
        font-size: 18px;
    }
    .card-content .button {
        font-size: 24px;
    }
    .block2 div:first-child {
        width: 100%;
        margin: 0 0 20px 0;
    }
    #video .info {
        position: static;
        margin-top: -10px;
    }
    
    #video .info h1 {
        margin-top: 0;
        font-size: 24px;
    }
    #video .info div {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    #nav-menu-v2-i7SwJF5KVu .menu-item-title-icon {
        font-size: 24px;
        text-align: center;
    }
}